<h1 *ngIf="localAuth?.realUser; else auth">
	Здравствуйте, {{localAuth?.name}} ({{localAuth?.login}})!
	<button mat-raised-button color="primary" (click)="clearStorage()">Выйти</button>
</h1>
<ng-template #auth>
	<h1 *ngIf="result?.success; else form">
		Здравствуйте, {{result?.name}} ({{result?.login}})!
	</h1>
	<ng-template #form>
		<h1>Авторизуйтесь</h1>

		<form class="form" (ngSubmit)="submit()">
			<div class="red" *ngIf="!result?.success;">{{result?.errorText}}</div>
			<fieldset [formGroup]="authControlList">
				<mat-form-field>
					<input matInput formControlName="login" placeholder="Логин" type="text">
				</mat-form-field>
				<mat-form-field>
					<input matInput formControlName="password" placeholder="Пароль" type="password">
				</mat-form-field>

				<button mat-raised-button color="primary" type="submit">Отправить</button>
			</fieldset>


		</form>

		<app-registration></app-registration>
	</ng-template>
</ng-template>
<app-subscription></app-subscription>